name: Validate and Auto Publish

on:
  push:
    branches:
      - master
  pull_request: {}

jobs:
  validate-and-publish:
    name: Validate and Publish
    runs-on: ubuntu-latest # only linux supported at present
    steps:
      - uses: actions/checkout@v2
      - uses: w3c/spec-prod@v1 # use the action
        with:
          TOOLCHAIN: respec
          W3C_NOTIFICATIONS_CC: "dom@w3.org"
          VALIDATE_LINKS: false
