name: Validate and Auto Publish

on:
  push:
    paths:
      - index.html
    branches:
      - main
  pull_request: {}

jobs:
  validate-and-publish:
    name: Validate and Publish
    runs-on: ubuntu-20.04 # only linux supported at present
    steps:
      - uses: actions/checkout@v2
      - uses: w3c/spec-prod@v2 # use the action
        with:
          TOOLCHAIN: respec
          W3C_NOTIFICATIONS_CC: "dom@w3.org"
          VALIDATE_LINKS: false
